In [295]:
from pathlib import Path
from os import path
import datetime
import glob
import pandas as pd
import numpy as np

# Comparison

In [296]:
results_path = r"C:\Users\Fahad Razzaq\Desktop\Fahad data\All Results"

In [299]:
import os
from datetime import date

def create_directory():
    """
    Creates a directory on the desktop with the name "results_YYYYMMDD", 
    where YYYY is the current year, MM is the current month, 
    and DD is the current day.
    
    """
    # Get today's date and store it in a variable called today
    today = date.today()
    
    # Create a string called directory using the strftime method of the today object, which formats the date in the format "results_YYYYMMDD"
    directory = today.strftime("results_%Y%m%d")  ## folder name
    
    # Set the value of the parent_dir variable to the path of the All Results folder on the desktop, with a "\" character appended at the end
    parent_dir = results_path + '\\' 
    
    # Use the os.path.join function to combine the parent_dir and directory variables into the target_path
    target_path = os.path.join(parent_dir, directory)
    
    # Create a directory at the target_path location with the name specified in the directory variable
    os.mkdir(target_path)
    return directory

### Call this funtion only once a day
directory = create_directory()

In [300]:
def comparison(df1, df2, merge_on, col):
    """
    Compares two dataframes and returns a summary of their differences and detailed information about the differences.
    
    Parameters:
        df1 (pandas dataframe): The first dataframe to compare.
        df2 (pandas dataframe): The second dataframe to compare.
        merge_on (str or list): The column(s) to merge the dataframes on.
        col (str): The column to compare for changes.
        
    Returns:
        Fcount (pandas dataframe): A dataframe containing the count of differences in each category.
        detail (pandas dataframe): A dataframe containing detailed information about the differences.
    """
    # Initializes delta to 0.1
    delta=0.1
        
    # Prints the number of rows in df1 and df2
    print('NEW  Entries     : ',len(df1))
    print('OLD  Entries     : ',len(df2))

    # Merges df1 and df2 on the merge_on column and adds '_new' and '_old' suffixes to the merged dataframe columns
    comp = df1.merge(right=df2, how='outer', on= merge_on, suffixes=('_new', '_old'))
    # Initializes a new 'Category' column in comp to be NA
    comp['Category'] = pd.NA
    # If the difference between the 'col' column in df1 and 'col' column in df2 is greater than delta, the 'Category' column is updated to 'Price Increased'
    comp.loc[comp[col + '_new'] - comp[col + '_old'] > delta , 'Category'] = 'Price Increased'
    # If the difference between the 'col' column in df2 and 'col' column in df1 is greater than delta, the 'Category' column is updated to 'Price Decreased'
    comp.loc[comp[col + '_old'] - comp[col + '_new'] > delta, 'Category'] = 'Price Decreased'
    # If the absolute difference between the 'col' column in df1 and 'col' column in df2 is less than or equal to delta, the 'Category' column is updated to 'Same Price'
    comp.loc[abs(comp[col + '_new'] - comp[col + '_old']) <= delta, 'Category'] = 'Same Price'
    # If the 'col' column in df1 is not NA and the 'col' column in df2 is NA, the 'Category' column is updated to 'Items Added'
    comp.loc[(~comp[col + '_new'].isna()) & (comp[col + '_old'].isna()), 'Category'] = 'Items Added'
    # If the 'col' column in df2 is not NA and the 'col' column in df1 is NA, the 'Category' column is updated to 'Items Removed'
    comp.loc[(comp[col + '_new'].isna()) & (~comp[col + '_old'].isna()), 'Category'] = 'Items Removed'

    # Prints the number of rows where the difference between the 'col' column in df1 and 'col' column in df2 is greater than delta
    print('Increase in Price: ', len(comp[comp[col + '_new'] > (comp[col + '_old'] +  delta)]))
    # Prints the number of rows where the difference between the 'col' column in df1 and 'col' column in df2 is less than delta
    print('Decrease in Price: ', len(comp[comp[col + '_new'] < (comp[col + '_old'] -  delta)]))
    # Prints the number of rows where the absolute difference between the 'col' column in df1 and 'col' column in df2 is less than or equal to delta
    print('Same Price       : ', len(comp[abs(comp[col + '_new'] - comp[col + '_old']) <=  delta]))
    # Prints the number of rows where the 'col' column in df1 is not NA and the 'col' column in df2 is NA
    print('Increase in Parts: ', len(comp[(~comp[col + '_new'].isna()) & (comp[col + '_old'].isna())]))
    # Prints the number of rows where the 'col' column in df2 is not NA and the 'col' column in df1 is NA
    print('Decrease in Parts: ', len(comp[(comp[col + '_new'].isna()) & (~comp[col + '_old'].isna())]))
    
    # Selects all rows in comp where the 'Category' column is not 'Same Price' and stores the result in 'detail
    detail = comp.loc[comp['Category'] != 'Same Price']
    
    # Groups the rows in comp by the 'Category' column
    group = comp.groupby('Category')
    
    # Selects the 'Category' column of the grouped dataframe get the count of each label in category column
    Fcount = group[['Category']].count()
    
    # Renames the 'Category' column to 'Count'
    Fcount.rename(columns={'Category': 'Count'}, inplace=True)
    
    #Resets the index of Fcount
    Fcount.reset_index(inplace=True)
    
    # Returns Fcount and detail
    return Fcount, detail

# Date Extract

In [301]:
def dateextract(f):
        
    """
    Extracts the date from a file name and returns it as a date object.
    
    Parameters:
    f (string): The file name to extract the date from.
    
    Returns:
    datetime.date: The date extracted from the file name.
    
    """
    #get the base name of the file (i.e., the file name without the path)
    b= path.basename(f)

    #split the base name by '.' and take the first element (the part before the first '.'). Then, split this by '_' and take the second element (the part after the first '_')
    c= b.split('.')[0].split('_')[1]

    #convert the string to a datetime object and return just the date part
    d = datetime.datetime.strptime(c, "%Y%m%d").date()
    return d

# Read File and Add Date Extracted

In [302]:
def read_df(f, sep=',', encoding=None, encoding_errors='strict', escapechar=None, on_bad_lines='warn'):
    
    """
    Read a CSV file into a pandas DataFrame
    
    Parameters:
    f: path to file to be read
    sep: character to use as separator
    encoding: encoding to use when reading the file
    encoding_errors: how to handle encoding errors
    escapechar: character to use to escape special characters
    on_bad_lines: how to handle bad lines
    
    Returns:
    A pandas DataFrame with an additional 'Date' column added    

    """
    df = pd.read_csv(f,sep=sep, encoding=encoding, encoding_errors=encoding_errors, escapechar=escapechar, on_bad_lines=on_bad_lines)
    # Extract the date from the file name
    dt = dateextract(f)
    # Add the date to the DataFrame as a column
    df['Date'] = dt
    return df

# Protocols for each warehouse

### Brock

In [303]:
# import the pathlib module
import pathlib

# assign a variable desktop to a Path object representing the specified directory
desktop = pathlib.Path(r"C:\Users\Fahad Razzaq\Desktop\Fahad data\Daily comparison")

# assign the variable latest_date to the last file in the desktop directory with a name starting with "brock"
latest_date = list(desktop.rglob("brock*"))[-1]
# assign the variable previous_date to the second to last file in the desktop directory with a name starting with "brock"
previous_date = list(desktop.rglob("brock*"))[-2]

# read in the data from the latest date file
df1= read_df(latest_date)
# read in the data from the previous date file
df2=read_df(previous_date)

# specify the column to merge the dataframes on
merge_on= ['sku']
# specify the column to compare
col='prices'

# perform the comparison and store the results in variables a and b
a,b = comparison(df1, df2, merge_on, col)

# add additional information to the a dataframe
a['Warehouse']= 'BROCK'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

# save the a dataframe to an Excel file
a.to_excel(results_path  + "\\" + directory + "\\" + "brock_Summary.xlsx", index = False)
# save the b dataframe to an Excel file
b.to_excel(results_path  + "\\" + directory + "\\" + "brock_Detail.xlsx")

# store the a dataframe in a list
result=[a]

NEW  Entries     :  11520
OLD  Entries     :  11518
Increase in Price:  0
Decrease in Price:  0
Same Price       :  11518
Increase in Parts:  2
Decrease in Parts:  0

### Burco

In [304]:
latest_date = list(desktop.rglob("burco*"))[-1]
previous_date = list(desktop.rglob("burco*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)
merge_on= ['vendor_sku']
col='Cost'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'BURCO'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "burco_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "burco_Detail.xlsx", index = False)
result.append(a)

NEW  Entries     :  4312
OLD  Entries     :  4312
Increase in Price:  0
Decrease in Price:  0
Same Price       :  4314
Increase in Parts:  0
Decrease in Parts:  0

### Jante

In [305]:
latest_date = list(desktop.rglob("jante*"))[-1]
previous_date = list(desktop.rglob("jante*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)
merge_on= ['LC' , 'vendor_sku']
col='Cost'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'JANTE'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "jante_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "jante_Detail.xlsx", index = False)
result.append(a)

EmptyDataError: No columns to parse from file

### Keystone

In [306]:
latest_date = list(desktop.rglob("keystone*"))[-1]
previous_date = list(desktop.rglob("keystone*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)

merge_on= ['VCPN']
col='Cost'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'KEYSTONE'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']


a.to_excel(results_path  + "\\" + directory + "\\" + "Keystone_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "Keystone_Detail.xlsx", index = False)
result.append(a)

NEW  Entries     :  146720
OLD  Entries     :  146518
Increase in Price:  374
Decrease in Price:  4
Same Price       :  145829
Increase in Parts:  511
Decrease in Parts:  309

### Motorstate

In [307]:
latest_date = list(desktop.rglob("motorstate*"))[-1]
previous_date = list(desktop.rglob("motorstate*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)

merge_on= ['Brand' , 'PartNumber']
col='Cost'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'MOTORSTATE'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']


a.to_excel(results_path  + "\\" + directory + "\\" + "motorstate_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "motorstate_Detail.xlsx", index = False)

result.append(a)

NEW  Entries     :  104950
OLD  Entries     :  104929
Increase in Price:  403
Decrease in Price:  35
Same Price       :  104484
Increase in Parts:  28
Decrease in Parts:  7

### NPW

In [308]:
latest_date = list(desktop.rglob("npw*"))[-1]
previous_date = list(desktop.rglob("npw*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)

merge_on= ['LineCode' , 'PartN']
col='Cost'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'NPW'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']


a.to_excel(results_path  + "\\" + directory + "\\" + "npw_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "npw_Detail.xlsx", index = False)

result.append(a)

NEW  Entries     :  293573
OLD  Entries     :  293653
Increase in Price:  0
Decrease in Price:  0
Same Price       :  293532
Increase in Parts:  41
Decrease in Parts:  121

### PA

In [309]:
latest_date = list(desktop.rglob("pa*"))[-1]
previous_date = list(desktop.rglob("pa*"))[-2]

df1=read_df(latest_date, encoding='unicode_escape')
df2=read_df(previous_date, encoding='unicode_escape')

merge_on= ['Line' , 'Part']
col='Price'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'PA'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "PA_summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "pa_Detail.xlsx", index = False)
result.append(a)

NEW  Entries     :  533767
OLD  Entries     :  533984
Increase in Price:  660
Decrease in Price:  1260
Same Price       :  529519
Increase in Parts:  2326
Decrease in Parts:  2543

### PFG

In [310]:
latest_date = list(desktop.rglob("pfg*"))[-1]
previous_date = list(desktop.rglob("pfg*"))[-2]

df1=read_df(latest_date, sep='\t', escapechar = '\\', encoding_errors='ignore')
df2=read_df(previous_date, sep='\t', escapechar = '\\', encoding_errors='ignore')

merge_on = ['SKU', 'BRAND']
col='COST'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'PFG'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "pfg_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "pfg_Detail.xlsx", index = False)
result.append(a)

NEW  Entries     :  88515
OLD  Entries     :  88522
Increase in Price:  0
Decrease in Price:  0
Same Price       :  88511
Increase in Parts:  4
Decrease in Parts:  11

### RSL

In [311]:
latest_date = list(desktop.rglob("rsl*"))[-1]
previous_date = list(desktop.rglob("rsl*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)

merge_on= ['SKU', 'Brand']
col='BSAP Cost'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'RSL'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "rsl_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "rsl_Detail.xlsx", index = False)
result.append(a)

NEW  Entries     :  5622
OLD  Entries     :  5622
Increase in Price:  0
Decrease in Price:  0
Same Price       :  5623
Increase in Parts:  0
Decrease in Parts:  0

### Sunbelt

In [312]:
latest_date = list(desktop.rglob("sunbelt*"))[-1]
previous_date = list(desktop.rglob("sunbelt*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)

merge_on= ['SKU']
col='Price'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'SUNBELT'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "unbelt_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "sunbelt_Detail.xlsx", index = False)
result.append(a)

NEW  Entries     :  1580
OLD  Entries     :  1580
Increase in Price:  0
Decrease in Price:  0
Same Price       :  1580
Increase in Parts:  0
Decrease in Parts:  0

### Simple Tire

In [313]:
latest_date = list(desktop.rglob("simpletire*"))[-1]
previous_date = list(desktop.rglob("simpletire*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)

merge_on= ['Product ID']
col='Price'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'SIMPLE TIRE'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "simpletire_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "simpletire_Detail.xlsx", index = False)
result.append(a)

NEW  Entries     :  44868
OLD  Entries     :  44890
Increase in Price:  5453
Decrease in Price:  39014
Same Price       :  219
Increase in Parts:  181
Decrease in Parts:  203

## Keystone Crash - LKQ

In [314]:
latest_date = list(desktop.rglob("lkq*"))[-1]
previous_date = list(desktop.rglob("lkq*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)

merge_on= ['PartNumber']
col='CustomerPrice'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'LKQ'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "LKQ_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "LKQ_Detail.xlsx", index = False)
result.append(a)

b'Skipping line 20402: expected 34 fields, saw 35\nSkipping line 29364: expected 34 fields, saw 35\n'
b'Skipping line 34071: expected 34 fields, saw 35\n'
b'Skipping line 20389: expected 34 fields, saw 35\nSkipping line 29350: expected 34 fields, saw 35\n'
b'Skipping line 34053: expected 34 fields, saw 35\n'

NEW  Entries     :  76665
OLD  Entries     :  76637
Increase in Price:  0
Decrease in Price:  0
Same Price       :  76447
Increase in Parts:  218
Decrease in Parts:  190

### Dorman

In [315]:
latest_date = list(desktop.rglob("dorman*"))[-1]
previous_date = list(desktop.rglob("dorman*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)

df1['Price']=  0
df2['Price']=  0


df1.columns = ['599-403', 'Call For Availability', '2023-02-01 16:28:14', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Date', 'Price']
df2.columns = ['599-403', 'Call For Availability', '2023-02-01 16:28:14', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Date', 'Price']

merge_on= ['599-403']

col= 'Price'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'DORMAN'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "dorman_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "dorman_Detail.xlsx", index = False)
result.append(a)

NEW  Entries     :  81759
OLD  Entries     :  81753
Increase in Price:  0
Decrease in Price:  0
Same Price       :  81753
Increase in Parts:  6
Decrease in Parts:  0

### OE Wheels

In [316]:
latest_date = list(desktop.rglob("oe*"))[-1]
previous_date = list(desktop.rglob("oe*"))[-2]


df1=read_df(latest_date)
df2=read_df(previous_date)

merge_on= ['UPC']

df1['Price']=  0
df2['Price']=  0
col= 'Price'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'OE WHEELS'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "oe_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "oe_Detail.xlsx", index = False)
result.append(a)

NEW  Entries     :  769
OLD  Entries     :  766
Increase in Price:  0
Decrease in Price:  0
Same Price       :  766
Increase in Parts:  3
Decrease in Parts:  0

### Tonsa

In [317]:
latest_date = list(desktop.rglob("tonsa*"))[-1]
previous_date = list(desktop.rglob("tonsa*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)

merge_on= ['Tonsa#']
df1['Price']=  df1['Core'] + df1['Cost']
df2['Price']=  df2['Core'] + df2['Cost']
col= 'Price'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'Tonsa'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "Tonsa_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "Tonsa_Detail.xlsx", index = False)
result.append(a)

C:\Users\Fahad Razzaq\AppData\Local\Temp\ipykernel_13616\22380274.py:18: DtypeWarning: Columns (3,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f,sep=sep, encoding=encoding, encoding_errors=encoding_errors, escapechar=escapechar, on_bad_lines=on_bad_lines)
C:\Users\Fahad Razzaq\AppData\Local\Temp\ipykernel_13616\22380274.py:18: DtypeWarning: Columns (3,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f,sep=sep, encoding=encoding, encoding_errors=encoding_errors, escapechar=escapechar, on_bad_lines=on_bad_lines)

NEW  Entries     :  48335
OLD  Entries     :  48197
Increase in Price:  4
Decrease in Price:  1
Same Price       :  48016
Increase in Parts:  316
Decrease in Parts:  178

### Wheel Pros

In [318]:
latest_date = list(desktop.rglob("wp*"))[-1]
previous_date = list(desktop.rglob("wp*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)

merge_on= ['LC', 'PartNumber']
col='cost'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'Wheel Pros'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "WP_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "WP_Detail.xlsx", index = False)
result.append(a)

NEW  Entries     :  64315
OLD  Entries     :  64315
Increase in Price:  0
Decrease in Price:  0
Same Price       :  64315
Increase in Parts:  0
Decrease in Parts:  0

### Turn 14

In [319]:
latest_date = list(desktop.rglob("t14*"))[-1]
previous_date = list(desktop.rglob("t14*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)

df1.columns.values[0] = 'sku_filtered'
df2.columns.values[0] = 'sku_filtered'
merge_on= ['sku_filtered']
col='Cost'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'Turn 14'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']

a.to_excel(results_path  + "\\" + directory + "\\" + "T14_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "T14_Detail.xlsx", index = False)
result.append(a)

NEW  Entries     :  343825
OLD  Entries     :  344190
Increase in Price:  2
Decrease in Price:  0
Same Price       :  343819
Increase in Parts:  4
Decrease in Parts:  369

### RRW

In [320]:
latest_date = list(desktop.rglob("RRW*"))[-1]
previous_date = list(desktop.rglob("RRW*"))[-2]

df1=read_df(latest_date)
df2=read_df(previous_date)

merge_on= ['SKU']

col= 'MAP'

a,b = comparison(df1, df2, merge_on, col)
a['Warehouse']= 'RRW'
a['Latest Date']= df1.loc[0, 'Date']
a['Previous Date']= df2.loc[0, 'Date']
, index = False
a.to_excel(results_path  + "\\" + directory + "\\" + "RRW_Summary.xlsx", index = False)
b.to_excel(results_path  + "\\" + directory + "\\" + "RRW_Detail.xlsx", index = False)
result.append(a)

NEW  Entries     :  3155
OLD  Entries     :  3042
Increase in Price:  53
Decrease in Price:  1
Same Price       :  3045
Increase in Parts:  112
Decrease in Parts:  0

#### Zip all summary files

In [321]:
import os

folder = results_path  + "\\" + directory
files = os.listdir(folder)
files

['brock_Detail.xlsx',
 'brock_Summary.xlsx',
 'burco_Detail.xlsx',
 'burco_Summary.xlsx',
 'dorman_Detail.xlsx',
 'dorman_Summary.xlsx',
 'Keystone_Detail.xlsx',
 'Keystone_Summary.xlsx',
 'LKQ_Detail.xlsx',
 'LKQ_Summary.xlsx',
 'motorstate_Detail.xlsx',
 'motorstate_Summary.xlsx',
 'npw_Detail.xlsx',
 'npw_Summary.xlsx',
 'oe_Detail.xlsx',
 'oe_Summary.xlsx',
 'pa_Detail.xlsx',
 'PA_summary.xlsx',
 'pfg_Detail.xlsx',
 'pfg_Summary.xlsx',
 'RRW_Detail.xlsx',
 'RRW_Summary.xlsx',
 'rsl_Detail.xlsx',
 'rsl_Summary.xlsx',
 'simpletire_Detail.xlsx',
 'simpletire_Summary.xlsx',
 'sunbelt_Detail.xlsx',
 'T14_Detail.xlsx',
 'T14_Summary.xlsx',
 'Tonsa_Detail.xlsx',
 'Tonsa_Summary.xlsx',
 'unbelt_Summary.xlsx',
 'WP_Detail.xlsx',
 'WP_Summary.xlsx']

In [291]:
summary = date.today().strftime("summary_%Y%m%d")
summary

'summary_20230106'

In [292]:
# import the zipfile and fnmatch modules
import zipfile
import fnmatch
from os.path import basename

# create the file path for the zip file to be saved on the local machine
zip_filename = results_path  + "\\" +  directory  + "\\" +  summary  +".zip"

# open the zip file for writing
with zipfile.ZipFile(zip_filename, 'w', zipfile.ZIP_DEFLATED) as zip_file:
    # for each file in the list 'files' that has the extension ".xlsx", do the following:
    for file in fnmatch.filter(files, "*.xlsx"):
        # create the file path for the current file by joining the file name with the 'folder' path
        file_path = os.path.join(folder, file)
        # add the current file to the zip file
        zip_file.write(file_path, basename(file_path))

#### Send Files to Slack Channel

In [293]:
# import the slack_sdk module
import slack_sdk
from datetime import date

current_date = date.today()

def send_update_to_slack_channel(text, file, channelid):
    
    """Sends an update message and file to the specified Slack channel.

    Args:
    text : The text of the message to be sent.
    file : The file to be sent (e.g. "df_styled.png").
    channelid : The ID of the Slack channel to send the message and file to.

    Returns:
    str: A string indicating that the file was sent to the channel successfully.
    
    """
    # store the channel id for the slack channel where the message and file will be sent
    cid = channelid

    # create a client for the slack API using the WebClient class and the specified token
    c = slack_sdk.WebClient(token='xoxb-156915382752-4437979958069-2XlrUKvulSUOltDeqdlHrqjA')

    # create the text for the message to be sent, using the current date
    text = text

    # send a message to the specified slack channel with the created text
    c.chat_postMessage(channel=cid, text=text)

    # send the image file "df_styled.png" to the specified slack channel
    
    c.files_upload_v2(file=file, channels=cid)    
    
    return "File sent to channel successfully!"

slack_text = 'Warehouse Summaries ' + current_date.strftime("%d-%m-%Y")
send_update_to_slack_channel(slack_text, zip_filename, "C04D1HF1RHT")

C:\Users\Fahad Razzaq\anaconda3\lib\site-packages\slack_sdk\web\client.py:3032: UserWarning: Although the channels parameter is still supported for smooth migration from legacy files.upload, we recommend using the new channel parameter with a single str value instead for more clarity.
  warnings.warn(

'File sent to channel successfully!'

# Result:

In [322]:
### get current date for filename
from datetime import date
from datetime import timedelta


today = date.today()
filename = today.strftime("Inventory Summary_%Y%m%d.xlsx")

In [323]:
current_date = today
yesterday_date = (today - timedelta(days = 1))

#### Summary Output

In [ ]:
summary_path = r"C:\Users\Fahad Razzaq\Desktop\Fahad data\Summaries Excel"

In [324]:
# import the pandas library
import pandas as pd

# concatenate the list of dataframes 'result' into a single dataframe 'r', ignoring the original indices
r = pd.concat(result, ignore_index=True)

# create the file path for saving the concatenated dataframe 'r' on the local machine
summary_path =summary_path + '\\' + filename

# save the 'r' dataframe to an excel file at the specified file path
r.to_excel(summary_path, index=False)

# display the 'r' dataframe
r

           Category   Count    Warehouse Latest Date Previous Date
0       Items Added       2        BROCK  2022-10-12    2022-10-11
1        Same Price   11518        BROCK  2022-10-12    2022-10-11
2        Same Price    4314        BURCO  2023-01-06    2023-01-05
3       Items Added     511     KEYSTONE  2023-01-06    2023-01-05
4     Items Removed     309     KEYSTONE  2023-01-06    2023-01-05
5   Price Decreased       4     KEYSTONE  2023-01-06    2023-01-05
6   Price Increased     376     KEYSTONE  2023-01-06    2023-01-05
7        Same Price  145829     KEYSTONE  2023-01-06    2023-01-05
8       Items Added      28   MOTORSTATE  2023-01-05    2023-01-04
9     Items Removed       7   MOTORSTATE  2023-01-05    2023-01-04
10  Price Decreased      35   MOTORSTATE  2023-01-05    2023-01-04
11  Price Increased     403   MOTORSTATE  2023-01-05    2023-01-04
12       Same Price  104484   MOTORSTATE  2023-01-05    2023-01-04
13      Items Added      41          NPW  2023-01-05    2023-01-04
14    Items Removed     121          NPW  2023-01-05    2023-01-04
15       Same Price  293532          NPW  2023-01-05    2023-01-04
16      Items Added    2326           PA  2023-01-06    2023-01-05
17    Items Removed    2543           PA  2023-01-06    2023-01-05
18  Price Decreased    1260           PA  2023-01-06    2023-01-05
19  Price Increased     662           PA  2023-01-06    2023-01-05
20       Same Price  529519           PA  2023-01-06    2023-01-05
21      Items Added       4          PFG  2023-01-06    2023-01-05
22    Items Removed      11          PFG  2023-01-06    2023-01-05
23       Same Price   88511          PFG  2023-01-06    2023-01-05
24       Same Price    5623          RSL  2023-01-05    2023-01-04
25       Same Price    1580      SUNBELT  2022-12-08    2022-12-07
26      Items Added     181  SIMPLE TIRE  2023-01-05    2023-01-04
27    Items Removed     203  SIMPLE TIRE  2023-01-05    2023-01-04
28  Price Decreased   39014  SIMPLE TIRE  2023-01-05    2023-01-04
29  Price Increased    5454  SIMPLE TIRE  2023-01-05    2023-01-04
30       Same Price     219  SIMPLE TIRE  2023-01-05    2023-01-04
31      Items Added     218          LKQ  2023-01-05    2023-01-04
32    Items Removed     190          LKQ  2023-01-05    2023-01-04
33       Same Price   76447          LKQ  2023-01-05    2023-01-04
34      Items Added       6       DORMAN  2023-01-05    2023-01-04
35       Same Price   81753       DORMAN  2023-01-05    2023-01-04
36      Items Added       3    OE WHEELS  2023-01-05    2023-01-04
37       Same Price     766    OE WHEELS  2023-01-05    2023-01-04
38      Items Added     316        Tonsa  2023-01-05    2023-01-04
39    Items Removed     178        Tonsa  2023-01-05    2023-01-04
40  Price Decreased       1        Tonsa  2023-01-05    2023-01-04
41  Price Increased       4        Tonsa  2023-01-05    2023-01-04
42       Same Price   48016        Tonsa  2023-01-05    2023-01-04
43       Same Price   64315   Wheel Pros  2023-01-05    2023-01-04
44      Items Added       4      Turn 14  2023-01-06    2023-01-04
45    Items Removed     369      Turn 14  2023-01-06    2023-01-04
46  Price Increased       2      Turn 14  2023-01-06    2023-01-04
47       Same Price  343819      Turn 14  2023-01-06    2023-01-04
48      Items Added     112          RRW  2023-01-06    2023-01-04
49  Price Decreased       1          RRW  2023-01-06    2023-01-04
50  Price Increased      53          RRW  2023-01-06    2023-01-04
51       Same Price    3045          RRW  2023-01-06    2023-01-04

In [325]:
# import the slack_sdk module
import slack_sdk
from datetime import date

current_date = date.today()

slack_text = 'Inventory Summary: ' + current_date.strftime("%d-%m-%Y")
send_update_to_slack_channel(slack_text, summary_path, "C04D1HF1RHT")

C:\Users\Fahad Razzaq\anaconda3\lib\site-packages\slack_sdk\web\client.py:3032: UserWarning: Although the channels parameter is still supported for smooth migration from legacy files.upload, we recommend using the new channel parameter with a single str value instead for more clarity.
  warnings.warn(

In [ ]:
summaries_update = r"C:\Users\Fahad Razzaq\Desktop\Fahad data\Summaries Update"

In [326]:
# create a pivot table of the 'Count' column of the r dataframe, with the rows being 'Warehouse', 'Previous Date', and 'Latest Date', 
# and the columns being 'Category'. Then reset the index of the resulting dataframe.
summary = r.pivot_table('Count', ['Warehouse', 'Previous Date', 'Latest Date'], 'Category').reset_index()

# select only the desired columns of the summary dataframe
summary = summary[["Warehouse", "Previous Date", "Latest Date", "Same Price",
                   "Items Added", "Items Removed", "Price Decreased", "Price Increased"]]

# create the filename for the summary file based on the current date, in the format "Summary_YYYYMMDD.xlsx"
filename = today.strftime("Summary_%Y%m%d.xlsx")

# create the file path for saving the summary file on the local machine
path = summaries_update + '\\' + filename

# save the summary dataframe to an excel file at the specified file path
summary.to_excel(path, index=False)

# display the summary dataframe
summary

Category,Warehouse,Previous Date,Latest Date,Same Price,Items Added,Items Removed,Price Decreased,Price Increased
0,BROCK,2022-10-11,2022-10-12,11518.0,2.0,NaN,NaN,NaN
1,BURCO,2023-01-05,2023-01-06,4314.0,NaN,NaN,NaN,NaN
2,DORMAN,2023-01-04,2023-01-05,81753.0,6.0,NaN,NaN,NaN
3,KEYSTONE,2023-01-05,2023-01-06,145829.0,511.0,309.0,4.0,376.0
4,LKQ,2023-01-04,2023-01-05,76447.0,218.0,190.0,NaN,NaN
5,MOTORSTATE,2023-01-04,2023-01-05,104484.0,28.0,7.0,35.0,403.0
6,NPW,2023-01-04,2023-01-05,293532.0,41.0,121.0,NaN,NaN
7,OE WHEELS,2023-01-04,2023-01-05,766.0,3.0,NaN,NaN,NaN
8,PA,2023-01-05,2023-01-06,529519.0,2326.0,2543.0,1260.0,662.0
9,PFG,2023-01-05,2023-01-06,88511.0,4.0,11.0,NaN,NaN
10,RRW,2023-01-04,2023-01-06,3045.0,112.0,NaN,1.0,53.0
11,RSL,2023-01-04,2023-01-05,5623.0,NaN,NaN,NaN,NaN
12,SIMPLE TIRE,2023-01-04,2023-01-05,219.0,181.0,203.0,39014.0,5454.0
13,SUNBELT,2022-12-07,2022-12-08,1580.0,NaN,NaN,NaN,NaN
14,Tonsa,2023-01-04,2023-01-05,48016.0,316.0,178.0,1.0,4.0
15,Turn 14,2023-01-04,2023-01-06,343819.0,4.0,369.0,NaN,2.0
16,Wheel Pros,2023-01-04,2023-01-05,64315.0,NaN,NaN,NaN,NaN

In [327]:
# price_thresh = {
#     "BROCK": 6931,
#     "BURCO" :4041,
#     "DORMAN": 0,
#     "JANTE" :470,
#     "KEYSTONE":8149,
#     "LKQ"       :14044,
#     "MOTORSTATE" :8704,
#     "NPW":364396,
#     "OE WHEELS" :0,
#     "PA":30918,
#     "PFG"   :48180,
#     "RRW" :286,
#     "RSL":15,
#     "Turn 14":100,
#     "SIMPLE TIRE" :42518,
#     "SUNBELT":867,
#     "TONSA": 0,
#     "Wheel Pros":1,
#     "Tonsa":595,
# }

# items_thresh = {
#     "BROCK": 100,
#     "BURCO" :100,
#     "DORMAN": 40,
#     "JANTE" :50,
#     "KEYSTONE":500,
#     "LKQ"       :500,
#     "MOTORSTATE" :200,
#     "NPW":500,
#     "OE WHEELS" :200,
#     "Turn 14":100,
#     "PA":200,
#     "PFG"   :50,
#     "RRW" :10,
#     "RSL":100,
#     "SIMPLE TIRE" :500,
#     "SUNBELT":200,
#     "Wheel Pros":1,
#     "Tonsa":200,
# }

In [328]:
# summary['thresh_price'] = summary['Warehouse'].map(items_thresh)
# summary['thresh_items'] = summary['Warehouse'].map(items_thresh)

In [329]:
summary = summary.fillna(0)

In [330]:
current_date

datetime.date(2023, 1, 7)

In [331]:
# create a list of "Yes" or nan values based on the comparison of the element in the "Latest Date" column 
# with the current and yesterday dates
recent_file = ["Yes" if (i == current_date or i == yesterday_date) else np.nan for i in summary["Latest Date"]]

# insert the list as a new column called "Recent file on CS" in the summary dataframe
summary.insert(3, "Recent file on CS", recent_file)

# sort the summary dataframe by the "Latest Date" column in ascending order
summary = summary.sort_values(by = "Latest Date", ascending = True)

In [332]:
summary['Same Price'] = summary['Same Price'].astype(int)
summary['Items Added'] = summary['Items Added'].astype(int)
summary['Items Removed'] = summary['Items Removed'].astype(int)
summary['Price Decreased'] = summary['Price Decreased'].astype(int)
summary['Price Increased'] = summary['Price Increased'].astype(int)

In [334]:
# define the format of the dates in the dataframe as 'DD-MM-YYYY'
date_format = '%d-%m-%Y'

# convert the "Previous Date" column of the summary dataframe to datetime type, then format the dates as 
# strings with the defined format and store the result back in the "Previous Date" column
summary["Previous Date"] = pd.to_datetime(summary["Previous Date"]).dt.strftime(date_format)

# convert the "Latest Date" column of the summary dataframe to datetime type, then format the dates as 
# strings with the defined format and store the result back in the "Latest Date" column
summary["Latest Date"] = pd.to_datetime(summary["Latest Date"]).dt.strftime(date_format)

# display the summary dataframe
summary

Category,Warehouse,Previous Date,Latest Date,Recent file on CS,Same Price,Items Added,Items Removed,Price Decreased,Price Increased
0,BROCK,10-11-2022,10-12-2022,NaN,11518,2,0,0,0
13,SUNBELT,12-07-2022,12-08-2022,NaN,1580,0,0,0,0
14,Tonsa,01-04-2023,01-05-2023,NaN,48016,316,178,1,4
12,SIMPLE TIRE,01-04-2023,01-05-2023,NaN,219,181,203,39014,5454
11,RSL,01-04-2023,01-05-2023,NaN,5623,0,0,0,0
7,OE WHEELS,01-04-2023,01-05-2023,NaN,766,3,0,0,0
16,Wheel Pros,01-04-2023,01-05-2023,NaN,64315,0,0,0,0
5,MOTORSTATE,01-04-2023,01-05-2023,NaN,104484,28,7,35,403
4,LKQ,01-04-2023,01-05-2023,NaN,76447,218,190,0,0
2,DORMAN,01-04-2023,01-05-2023,NaN,81753,6,0,0,0
6,NPW,01-04-2023,01-05-2023,NaN,293532,41,121,0,0
15,Turn 14,01-04-2023,01-06-2023,Yes,343819,4,369,0,2
9,PFG,01-05-2023,01-06-2023,Yes,88511,4,11,0,0
10,RRW,01-04-2023,01-06-2023,Yes,3045,112,0,1,53
3,KEYSTONE,01-05-2023,01-06-2023,Yes,145829,511,309,4,376
1,BURCO,01-05-2023,01-06-2023,Yes,4314,0,0,0,0
8,PA,01-05-2023,01-06-2023,Yes,529519,2326,2543,1260,662

In [335]:
# import the dataframe_image module
import dataframe_image as dfi

# style the summary dataframe by adding a red gradient background to the specified columns, 
# formatting cells with no data as "No Recent File" and highlighting cells with null values as yellow
summary_styled = summary.style.background_gradient(subset=['Price Increased', 'Items Added', 'Items Removed', 'Price Decreased'], cmap="Reds", vmin = 1499, vmax = 1500).format(na_rep="No Recent File").highlight_null(null_color="yellow")

# export the styled dataframe as an image and save it as "df_styled.png"
dfi.export(summary_styled, 'df_styled.png', dpi = 1200)

In [336]:
summary_styled

In [245]:
# import the slack_sdk module
import slack_sdk

# store the channel id for the slack channel where the message and file will be sent
cid = 'C03BTASE476'

# create a client for the slack API using the WebClient class and the specified token
c = slack_sdk.WebClient(token='xoxb-156915382752-4437979958069-2XlrUKvulSUOltDeqdlHrqjA')

# create the text for the message to be sent, using the current date
text = 'Inventory Comparison ' + current_date.strftime("%d-%m-%Y")

# send a message to the specified slack channel with the created text
c.chat_postMessage(channel=cid, text=text)

# send the image file "df_styled.png" to the specified slack channel
c.files_upload_v2(file='df_styled.png', channels='C03BTASE476')

C:\Users\Fahad Razzaq\anaconda3\lib\site-packages\slack_sdk\web\client.py:3032: UserWarning: Although the channels parameter is still supported for smooth migration from legacy files.upload, we recommend using the new channel parameter with a single str value instead for more clarity.
  warnings.warn(

<center><h2> --- THE END ---